<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="fragment/fragments::head">
</head>
<body>
<header th:insert="fragment/fragments::nav">
</header>

<section
        style="background:linear-gradient(90deg, rgba(177,180,58,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); "
        class="pt-2 container-fluid  ">

    <div class="row">

    <section class="card  border-danger border-3 col-md-3 col-sm-3 col-8  mx-4 mt-2 ">
        <p class="text-center border-bottom border-danger border-3 text-danger" th:text="#{workers}">Workers</p>
        <article th:each="w:${workers}" th:object="${w}" class="border-bottom border-danger row">

            <div class="card-body d-flex justify-content-between">


                <span class="text-dark fs-5  bg-white font-size ">  <span class="card-title text-dark mr-2"
                                                                                 th:text="*{fullName}">Name</span></span>

                <a class="text-danger fs-5 text-decoration-none " th:href="@{/user/{userId}/shelter/worker/{id}/details(id=*{id},userId=${userId})}" th:text="#{details}">Details</a>
            </div>


        </article>
    </section>

    <div class=" mt-2 col-md-8 col-sm-2 col-8 ">
        <article th:object="${shelter}" class="card  border-danger border-2 mt-1 ">
            <ul th:if="${mine}" class=" justify-content-around list-unstyled  d-flex">
                <li class="ms-3"><a class="text-danger fs-2 text-decoration-none" href="/shelter/add-worker" th:text="#{addWorker}">Add
                    Worker</a></li>
                <li class="ms-3"><a class="text-danger fs-2 text-decoration-none"
                                    href="/shelter/update" th:text="#{updateShelter}">Update shelter</a></li>
                <li class="ms-3"><a class="text-danger fs-2 text-decoration-none " href="/shelter/add-animal" th:text="#{addAnimal}">Add
                    Animal</a></li>

            </ul>

            <div class="card-body text-center">

                <p class="text-danger fs-1 card-header bg-white  border-danger border-5 rounded"><span th:text="#{username}">Username</span>: <span
                        class="card-title text-danger" th:text="*{username}">Username </span></p>
                <p></p>
                <img th:src="@{*{image}}" alt="There is not a picture"
                     class="img-fluid rounded">
                <p class="text-danger fs-3 card-header bg-white  text-dark border-2"><span th:text="#{shelterName}">Shelter name</span>: <span
                        class="card-title text-dark" th:text="*{name}"></span></p>
                <p></p>
            </div>
            <span class="card-subtitle mb-2 text-dark fs-5 text-secondary mr-5 text-center" th:text="*{description}">Description</span>


        </article>
        <p></p>
        <article th:each="a:${animals}" th:object="${a}" class="card  border-danger border-3  col-md-12 col-sm-12 col-12 mt-1">

            <div class="card-body d-flex justify-content-between">
                <img th:src="@{*{image}}" alt="There is not a picture"
                     class="img-fluid rounded col-md-1 col-sm-1 ">

                <span class=" fs-4  bg-white font-size ">  <span class="card-title mr-3"
                                                                                 th:text="*{name}">Name</span></span>
                <span class=" fs-4  bg-white  font-size fs-1 "> <span
                        class="card-subtitle mb-2 text- " th:text="*{animalType}">Animal type</span></span>
                <a class="text-danger fs-2 text-decoration-none fs-5 " th:href="@{/user/{userId}/shelter/animal/{id}/details(id=*{id},userId=${userId})}" th:text="#{details}">Details</a>
            </div>


        </article>
    </div>
    </div>
</section>


<footer th:replace="fragment/fragments::footer">
    I am footer
</footer>
</body>
</html>